APP_NAME=Karsa
APP_ENV=local
APP_KEY=base64:ao29d+aHO0xzoSWTwjYnjg+P1kUFNxxiZpqNaqEbH30=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=karsa_db
DB_USERNAME=postgres
DB_PASSWORD=Arief2006

BCRYPT_ROUNDS=12
